[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pymysql = "*"
dbutils = "*"
lxml = "*"
fake-useragent = "*"
beautifulsoup4 = "*"
update = "*"
pypinyin = "*"

[requires]
python_version = "3.7"
