[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.21.0"
"beautifulsoup4" = "==4.7.1"
lxml = "==4.2.5"
pymysql = "==0.9.3"
dbutils = "==1.3"
pymongo = "*"
pypinyin = "*"

[dev-packages]

[requires]
python_version = "3.7"
